.current{
    border-bottom: solid;
}
h1{
    font-size: 5rem;
    text-align: center;

}
h2{
    border: solid;
    font-size: 3rem;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}
h3{
    border-bottom: solid;
    font-size: 2rem;
    padding: 10px;
}
.profile{
    display: grid;
    overflow: hidden;
    grid-template-columns: 30vw 1fr;
    place-items: center;
    padding: 100px;
    
}
.grid-me{
    display: grid;
    place-items: center;
    
}
.me{
    width:75%;
    border: solid;
    border-left: none;
    object-fit: cover;
    padding-top: 5vh;
    border-radius: 100%; 
    background-color: rgb(50, 55, 59);
    border-color: rgb(140, 150, 156);
    
}
p{
    font-size: 1.3rem;
    text-align: justify;
    padding: 1rem;

}
.about{
    height: auto;
    display: grid;
    place-items: left;
    
}
.work{
    display: grid;
    grid-template-columns: 1fr;
}
.exp{
    margin-top: 1rem;
    border: solid;
    border-radius: 3px;
}

@media only screen and (max-width: 1400px){
    *{
        font-size: 12px;
    }
    .profile{
        grid-template-columns: 1fr;
        padding: 0px;
        margin-top: 5vh;
    }
    .grid-me{
        background-color: rgb(50, 55, 59);
        width:100%;
        border-radius: 20px;
    }
    .me{
        width: 30%;
        border: none;
        border-radius: 10px;
        padding: 10px;
        padding-bottom: 0px;
    }
    .about{
        margin-top: 1rem;
    }
    a{
        font-size: 1.5rem;
    }


}
@media only screen and (max-width: 800px) {
    *{
        font-size: 8px;
    }

    p{
        line-height: 1.3;
    }

}