.current{
    border-bottom: solid;
}

h2{
    border: solid;
    font-size: 3rem;
    border-radius: 20px;
    padding: 10px;
}
h3{
    border-bottom: solid;
    font-size: 2rem;
    padding: 10px;
}
.profile{
    display: grid;
    grid-template-columns: 30vw 1fr;
    place-items: center;
    align-items: center;
    height: 100vh;
    
}
.me{
    width:75%;
    border: solid;
    object-fit: cover;
    padding-top: 5vh;
    border-radius: 100%; 
    background-color: rgb(50, 55, 59);
    border-color: rgb(140, 150, 156);
    
}
p{
    font-size: 1.3rem;
    text-align: justify;
    padding: 1rem;

}
.about{
    height: auto;
    display: grid;
    place-items: left;
    
}
.work{
    display: grid;
    grid-template-columns: 1fr;
}
.exp{
    margin-top: 1rem;
    border: solid;
    border-radius: 3px;
}

@media only screen and (max-width: 1400px){
    *{
        font-size: 12px;
    }

    .about{
        margin-top: 1rem;
    }
    .profile{
        padding: 10px;
    }
    a{
        font-size: 1.5rem;
    }


}
@media only screen and (max-width: 800px) {
    *{
        font-size: 10px;
    }
    p{
        line-height: 1.3;
    }
    h2{
        display: none;
    }
    .me{
        width: 50%;
    }
    .profile{
        grid-template-columns: 1fr;
    }
}