

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 242, 232);
    color: rgb(50, 55, 59);
    font-size: 16px;
    font-family:Roboto;
}
body{
    margin: 10px 80px;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:4rem;
    padding-left: 0;
    padding-right: 0;
    
    /*
    border-bottom: solid;
    */
}
header li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
.logo{
    height:100%;
    object-fit: contain;
}

@media only screen and (max-width: 1200px){

    body{
        margin: 10px 10px;
    }
    .logo{
        display:none;
    }
    header{
        border-width: 2px;
    }
    .navigation-buttons{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

}

@media (prefers-color-scheme: dark){

}
